/*RESET*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.center {
    margin: 0 auto;
    width: 70%;
}

/*RESET*/

header {
    height: 50px;
    background-color: #ff6900;
    color: white;
}

header section {
    justify-content: space-between;
    padding: 1rem;
}

header img {
    width: 100px;
}

header ul li {
    list-style-type: none;
    margin-right: 1rem;
}

.account .fa {
    text-decoration: none;
    color: #ffffff;
    padding-left: 1rem;
}

/*Main*/

main .product-card {
    justify-content: space-between;
    height: 500px;
    width: calc(100% / 3);
    display: inline-block;
    width: calc(100% / 3);
    margin-top: 3rem;
    margin-left: 2rem;

    }

    main .product{
        width: 100%;
        height: 85%;
        position: relative;
        text-align: center;
    }

    main .product img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

     /*img hover*/

    #levis:hover{
        content:url("../img/1b.webp");
    }
    #guess:hover{
        content:url("../img/2b.webp");
    }
    
    #suit:hover{
        content:url("../img/3b.webp");
    }
    
    #levistee:hover{
        content:url("../img/4b.webp");
    }
    
    #longdress:hover{
        content:url("../img/5b.webp");
    }
    
    #blacksweat:hover{
        content:url("../img/6b.webp");
    }
    
    /*end img hover*/

    main .product span {
        position: absolute;
    }

    main .discount {
        left: 0;
        bottom: 7%;
        background-color: #ff0000;
        color: #ffffff;
        padding-left: 0.8rem; ;
        padding-right: 0.8rem;
    }

    main .sust {
        left: 20%;
        bottom: 7%;
        background-color: #008000;
        color: #ffffff;
        padding-left: 0.8rem; ;
        padding-right: 0.8rem;
    }

    main .only-sust {
        left: 0;
        bottom: 7%;
        background-color: #008000;
        color: #ffffff;
        padding-left: 0.8rem; ;
        padding-right: 0.8rem;
    }

    main .wishlist {
        top: 5%;
        right: 0;
        background-color: #ffffff;
        padding: 0.5rem;
        font-size: 2rem;
    }

    /*Hover*/

    .wishlist:hover {
        color: #ff0000;
    }


    p.product-title {
        text-transform: uppercase;
        font-weight: bold;
    }

    span.red-text {
        color:#ff0000;
    }



/*Footer*/

footer {
    background-color: #212121;
    color: #ffffff;
}

footer section {
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


footer ul {
    list-style-type: none;
    font-size: smaller;
}

footer ul li {
    padding-top: 0.8rem;
    padding-right: 1rem;
}

footer.fa {
    text-decoration: none;
    color: #ffffff;
    display: inline;
    padding-top: 1rem;
    padding-right: 1rem;
}

